Source: ros-dashing-system-modes-examples
Section: misc
Priority: optional
Maintainer: Arne Nordmann <arne.nordmann@bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake, ros-dashing-ament-cmake-cppcheck, ros-dashing-ament-cmake-cpplint, ros-dashing-ament-cmake-flake8, ros-dashing-ament-cmake-gmock, ros-dashing-ament-cmake-gtest, ros-dashing-ament-cmake-pep257, ros-dashing-ament-cmake-uncrustify, ros-dashing-ament-lint-auto, ros-dashing-rclcpp, ros-dashing-rclcpp-lifecycle, ros-dashing-system-modes, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-system-modes-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-rclcpp, ros-dashing-rclcpp-lifecycle, ros-dashing-system-modes, ros-dashing-ros-workspace
Description: Simple example system and according launch files for the system_modes package.
