Source: ros-foxy-test-launch-system-modes
Section: misc
Priority: optional
Maintainer: Arne Nordmann <arne.nordmann@bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-cmake-flake8, ros-foxy-ament-cmake-pep257, ros-foxy-ament-index-python, ros-foxy-ament-lint-auto, ros-foxy-builtin-interfaces, ros-foxy-launch-system-modes, ros-foxy-launch-testing-ament-cmake, ros-foxy-launch-testing-ros, ros-foxy-lifecycle-msgs, ros-foxy-rclcpp, ros-foxy-rclcpp-lifecycle, ros-foxy-system-modes, ros-foxy-system-modes-examples, ros-foxy-system-modes-msgs, ros-foxy-ros-workspace
Homepage: https://micro.ros.org/docs/concepts/client_library/lifecycle_and_system_modes/
Standards-Version: 3.9.2

Package: ros-foxy-test-launch-system-modes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-builtin-interfaces, ros-foxy-launch-system-modes, ros-foxy-lifecycle-msgs, ros-foxy-rclcpp, ros-foxy-rclcpp-lifecycle, ros-foxy-system-modes, ros-foxy-system-modes-examples, ros-foxy-system-modes-msgs, ros-foxy-ros-workspace
Description: Launch tests for the launch_system_modes package, i.e.
 launch actions, events, and event handlers for system modes.
